<%= form_for([@course, @course.notes.build]) do |f| %>

  <%= f.label :name %>
  <div><%= f.text_field :creator %></div> </br>

  <%= f.label :note %>
  <div><%= f.text_area :body %></div> </br>

  <%= f.submit %>

<% end %>